* {
    margin: 0;
    padding: 0;


}

body {
    overflow-x: hidden;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('C:/Users/38161/Desktop/case study - WD/slike/evropa-cover.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;


}

.navigation {
    width: 100%;
    margin: auto;
    padding: 3px;
    background: black;

}

ul#nav {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


ul#nav li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Thasadith', sans-serif;
}

ul#nav li a:hover {
    color: rgb(255, 72, 0);
}

.navigation1 {
    width: 100%;
    margin: auto;
    padding: px;
    background: rgb(46, 46, 46);

}

ul#nav1 {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


ul#nav1 li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Thasadith', sans-serif;
}

ul#nav1 li a:hover {
    color: rgb(255, 72, 0);
}

.text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text p {
    font-family: 'Oregano', cursive;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

#evropa {
    text-align: center;
    padding-top: 20px;
}

#evropa .row {
    padding-top: 70px;
    text-align: center;
}

#evropa .row {
    padding-top: 70px;
    margin-left: 20%;
    margin-right: 20%;
}

#evropa .row h3 {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    font-family: 'Thasadith', sans-serif;

}

#evropa .row h4 {
    text-transform: uppercase;
    font-family: 'Thasadith', sans-serif;
    font-size: 20px;
}

#evropa .row h4 span {
    float: right;
}

#evropa .row p {
    font-size: 15px;
    font-family: 'Thasadith', sans-serif;
}


#evropa .row {
    padding-top: 60px;
    margin-left: 20%;
    margin-right: 20%;
}

#evropa .row h3 {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    font-family: 'Thasadith', sans-serif;

}

#evropa .row h4 {
    text-transform: uppercase;
    font-family: 'Thasadith', sans-serif;
    font-size: 20px;
}

#evropa .row h4 span {
    float: right;
}

#evropa .row p {
    font-size: 15px;
    font-family: 'Thasadith', sans-serif;
}

#evropa .row {
    margin-left: 10%;
    margin-right: 20%;
}

.tekstovi {
    text-align: center;
    margin-top: 30px;
    font-family: 'Thasadith', sans-serif;
    text-transform: uppercase;
}

hr {
    text-align: center;
    margin: 0 auto;
    width: 5%;
}

.video {
    text-align: center;
    margin-top: 30px;
    font-family: 'Thasadith', sans-serif;
    text-transform: uppercase;
}

hr {
    text-align: center;
    margin: 0 auto;
    width: 5%;
}

.novosti {
    text-align: center;
    margin-top: 30px;
    font-family: 'Thasadith', sans-serif;
    text-transform: uppercase;
}

hr {
    text-align: center;
    margin: 0 auto;
    width: 5%;
}

footer .cont {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding-left: 120px;
    padding-bottom: 10px;

}

footer .cont .fa {
    float: right;
    padding-right: 90px;
    color: gray;
}